@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h1>Index</h1>
        <p>
            Index
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
</div>